{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vivek Dhengale</title>
</head>
<body>
    {% include "blog/includes/header.html" %}
    <h1>Vivek Dhengale</h1>
    <h2>My Bogs</h2>
    <ul>
        {% for each_blog in recent_blogs %}
            <li>
                <a href="{% url "detail-post" each_blog.slug %}">
                    {{each_blog.title}}
                </a>

                <img src="{% static "blog/images/"|add:each_blog.image_url %}">
                <p>{{each_blog.excerpt}}</p>
                <address>By <a href="mailto:{{each_blog.author.email}}">{{each_blog.author}}</a></address>
                <p>{{each_blog.updated_at}}</p>
            </li>

        {% endfor %}
    </ul>
</body>
</html>